.certifications-frame {
  width: 30%;
}
.certifications-frames {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 2800px;
  align-items: center;
  gap: 15px;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .certifications-frame {
    width: 45%;
  }

  .certifications-frames {
    height: 4700px;
  }
}

@media only screen and (min-width: 360px) and (max-width: 767px) {
  .certifications-frame {
    width: 95%;
  }

  .certifications-frames {
    height: auto;
  }
}
