.testimonies {
  width: 1200px;
  padding: 50px 0;
}

.testimony-cards {
  width: 900px;
  margin: 0 auto;
  gap: 30px;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 500px;
}

.testimony-card {
  background-color: rgba(186, 73, 38, 1);
  color: #fff;
  border-radius: 20px;
  font-size: 16px;
  font-family: "Krub", sans-serif;
  line-height: normal;
  height: fit-content;
}

.testimony {
  padding: 20px;
  text-align: left;
  width: 600px;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .testimonies {
    width: 750px;
    padding: 50px 0;
    margin: 0 auto;
  }

  .testimony-cards {
    width: 700px;
    gap: 10px;
  }

  .testimony-card {
    font-size: 15px;
  }

  .testimony {
    width: 500px;
  }
}

@media only screen and (min-width: 360px) and (max-width: 767px) {
  .testimonies {
    width: 350px;
    padding: 50px 10px;
    margin: 0 auto;
  }

  .testimony-cards-scroll {
    width: 350px;
    height: 500px;
  }

  .testimony-cards {
    width: 310px;
    height: 1200px;
    gap: 10px;
  }

  .testimony-card {
    font-size: 15px;
  }

  .testimony {
    width: 80%;
  }
}
