@import url("https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400;700&family=Krub:wght@200;400;700&display=swap");
@import url("./reset.css");
@import url("./header.css");
@import url("./fixables.css");
@import url("./bio.css");
@import url("./testimonies.css");
@import url("./footer.css");

.App {
  text-align: center;
  background-color: #0a2c31;
}

.body {
  background-color: #19707c;
  background-image: url("/images/big-ying.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .body {
    max-width: 1000px;
  }
}

@media only screen and (min-width: 360px) and (max-width: 767px) {
  .body {
    max-width: 767px;
    background-size: contain;
    background-position: center;
  }
}
