@import url("https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400;700&family=Krub:wght@200;400;700&display=swap");
@import url("./reset.css");
@import url("./header.css");

.App {
  text-align: center;
  background-color: #0a2c31;
}

.body {
  background-color: #19707c;
  background-image: url("/images/big-eye.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.fixables {
  height: 1200px;
  display: flex;
  flex-direction: column;
}

.fix-bubble {
  width: 200px;
  height: 50px;
  background-color: rgba(119, 211, 194, 1);
  border-radius: 50% 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  color: #0a2c31;
  font-family: "Krub", sans-serif;
  font-size: 20px;
}

.fix-bubble:hover {
  background-color: rgba(119, 211, 194, 0.5);
}

.fix-bubble-active {
  background-color: rgba(119, 211, 194, 0.5);
}

.fix-bubbles {
  display: flex;
  align-content: space-around;
  margin: 0 auto;
}

.fix-facts {
  display: flex;
  justify-content: center;
  align-content: space-around;
  margin: 30px;
  gap: 30px;
}

.fix-facts-icon {
  background-image: url(/images/smoking.png);
  width: 250px;
  height: 250px;
}

.fix-facts-text {
  max-width: 800px;
  background-color: rgba(119, 211, 194, 0.7);
  border-radius: 20px;
  color: #0a2c31;
  font-family: "Krub", sans-serif;
  font-size: 20px;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}
